package components

templ SearchBar() {
			<form hx-get="" hx-target="" class="border-black border-2 rounded w-full max-w-2xl min-w-96 bg-white p-2 flex justify-between">
				<input class="p-1 w-3/4 rounded" type="text" name="query" placeholder="e.g. Durban"/>
				<button type="submit" class="p-2 w-24 h-11 font-bold rounded" style="background-color: #FF8C00;">Search</button>
			</form>
}
