package components

templ UserNavbar() {
	<nav class="flex flex-row justify-between items-center w-screen h-16 p-6">
		@Logo()
		<ul class="mr-12 font-bold flex flew-row justify-between">
			<li class="ml-6 hover:scale-125"><a href="/logout">Login</a></li>
		</ul>
	</nav>
}
