package pages

import "dwelr/views/layouts"
import "dwelr/views/components"

templ HomePage() {
	@layouts.Base() {
		<div class="py-8 px-52 flex flex-col items-center">
			@components.SearchBar()
			@components.ListingCard()
		</div>
	}
}
